.contacto {
    margin-top: 2rem;
}

.contenedor-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.contenedor-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contenedor-telefono {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contenedor-ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.icons {
    font-size: 3rem;
}

.google-maps {

    position: relative;
    padding-bottom: 50%; 
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

@media(min-width:768px) {

    .contenedor-contacto {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

}