.contenedor-portada img{
    width: 100%;
}

.descripcion-foto {
    margin-top: 1rem;
    margin-bottom: 1rem;
     display: none; 
}

.descripcion-proyecto {
    margin: 0px 20px;
}

@media(min-width:768px) {

    .contenedor-portada img{
        width: 100%;
    }

}